@import "../../styles/Variables.scss";

.container {
  width: 100%;
  background-color: $color-primary;
  padding: 2rem 8rem;
}

@media (max-width: $sm) {
  .container {
    padding: 2rem 4rem;
  }
}
