@import "../../styles/Variables.scss";

.nav {
  min-width: 60%;
  display: flex;
  justify-content: space-between;
  // background-color: white;
}

.navLink {
  font-weight: 500;
  transition: transform 0.2s;
  font-family: $font-mono;
  color: $color-secondary;
  cursor: pointer;

  &:hover {
    color: $color-highlight;
    // transform: scale(1.1);
  }
}

.roman {
  font-variant: small-caps;
}
