@import "../../styles/Variables.scss";

.nav {
  min-width: 50%;
  display: flex;
  justify-content: space-between;
  // background-color: white;
}

.navLink {
  font-weight: 500;
  transition: transform 0.2s;
  font-family: $font-mono;
  color: $color-secondary;

  &:hover {
    color: $color-tertiary;
    // transform: scale(1.1);
  }
}
