@import "../../styles/Variables.scss";

.container {
  margin: 2rem 0;
  margin-bottom: 4rem;
  width: 100%;
}

.project {
  display: flex;
  // background-color: ivory;
  width: 100%;
  // padding: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.heading {
  color: $color-tertiary;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.text {
  flex: 1;
  max-width: 500px;
}

.p {
  margin-bottom: 1rem;
}

.ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  padding: 0;
}

.li {
  color: $color-highlight;
  font-family: $font-mono;
  transition: all 0.2s;
  align-self: center;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    color: $color-secondary;
  }
}

.image {
  -webkit-flex: 1;
  flex: 1;
  padding: 2rem;
}

.img {
  max-width: 100%;
  border-radius: 4px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);

  &:hover {
    transform: scale(1.05);
  }
}

.links {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.a {
  &:hover .icon {
    transform: scale(1.5);
    color: $color-highlight;
  }
}

.icon {
  font-size: 2rem;
  margin: 1rem;
  color: $color-tertiary;
  transition: all 0.3s;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
}

@media (max-width: $sm) {
  .container {
    margin: 0;
  }

  .text {
    margin-bottom: 5rem;
  }
  .image {
    padding: 0;
  }

  .project {
    flex-direction: column !important;
  }
}
