.container {
  display: flex;
}

.project {
  display: flex;
  // background-color: ivory;
  width: 100%;
  padding: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.heading {
  color: white;
  font-size: 2rem;
}

.text {
  flex: 1;
  max-width: 600px;
}

.image {
  min-height: 307px;
  min-width: 409px;
  border-radius: 4px;
  // max-width: 400px;
}
