@import "../../styles/Variables.scss";

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-primary-darker;
  z-index: 200;
  display: flex;
  display: none;
  align-content: center;
  justify-content: center;
  animation: fadeOut 0.5s ease-out 3.5s;
}

.logo {
  margin: auto auto;
  filter: drop-shadow(0 0 5px black);
  height: 6rem;
  animation: fadeIn ease 2s;
}

.visible {
  display: flex;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.25);
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(-90deg);
  }
  80% {
    transform: scale(3);
  }
  85% {
    transform: scale(1.25);
  }
  90% {
    transform: scale(2.5);
  }
  95% {
    transform: scale(2);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
