.logo {
  filter: invert(100%) drop-shadow(0 0 5px black);
  height: 3rem;
  margin-top: -1rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;

  &:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg) scale(1.5);
  }
}
