@import "../../styles/Variables.scss";

.container {
  padding: 2rem;

  // background-color: hotpink;
}

.skills {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  grid-gap: 1rem;
}

.icon {
  font-size: 1.25rem;
  margin-left: 1rem;
  height: 1.25rem;
}

@media (max-width: $lg) {
  .skills {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: $sm) {
  .skills {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
  }

  .icon {
    font-size: 1rem;
  }
}
