.container {
  padding: 2rem;

  // background-color: hotpink;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  grid-gap: 1rem;
  margin: 1rem;
}
