@import url("https://fonts.googleapis.com/css2?family=Arya:wght@400;700&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
// BREAKPOINTS

$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

// COLOURS

$color-primary: #34364d;
$color-secondary: #fdfac9;
$color-tertiary: #ebecf3;
$color-text: #a6abca;
$color-highlight: #5d6ee2;

$color-primary-darker: darken($color-primary, 10%);

// FONTS

// $font-header: "Martel", cursive;
$font-header: "Arya", sans-serif;
$font-mono: "Fira Code", Courier, monospace;

// MIXINS

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
