.container {
  display: flex;
  padding: 2rem;
  background-color: magenta;
}

.text {
  min-width: 70%;
  background-color: aquamarine;
}
.photo {
  min-width: 30%;
  background-color: green;
  color: white;
}
