@import "../../styles/Variables.scss";

.container {
  display: flex;
  padding: 2rem;
  // background-color: magenta;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.text {
  // background-color: aquamarine;
  max-width: 700px;
  position: relative;
  z-index: 2;
  flex: 1;
  text-align: justify;
  background-color: $color-opaque;
  padding: 2rem 2rem 2rem 2rem;
  // clip-path: polygon(0 0, 70% 0, 100% 30%, 100% 100%, 0 100%, 0% 50%);
  border-radius: 2px;
  transition: ease-in 0.25s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}
.photo {
  position: absolute;
  left: 6rem;
  height: 350px;
  width: 350px;
  // min-width: 40%;
  // max-width: 300px;
  background-image: url("../../public/me.jpg");
  background-size: cover;
  color: white;
  // display: flex;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 50%;
  &:hover {
    transform: scale(1.1);
    animation: hover ease 0.5s;
    transform: translateX(10%);
  }
}

@media (max-width: $lg) {
  .container {
    padding: 1rem;
    flex-direction: column;
  }

  .photo {
    position: relative;
    margin: 1rem auto;
    max-width: 100%;
    margin-top: 3rem;
    clip-path: none;
    // width: 100%;
    height: 300px;
    border-radius: 4px;
    display: block;
    right: 0;

    &:hover {
      transform: none;
    }
  }
  .text {
    padding: 0;
    background-color: transparent;
  }
}
