.container {
  display: flex;
  padding: 2rem;
  // background-color: magenta;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.text {
  // background-color: aquamarine;
  max-width: 600px;
  flex: 1;
}
.photo {
  min-width: 40%;
  max-width: 300px;
  // background-color: green;
  color: white;
  display: flex;
  justify-content: center;
}

.img {
  max-width: 80%;
  max-height: 50%;
  border-radius: 100% 0% 100% 0% / 46% 54% 46% 54%;
}
